body{
text-align: center;
    background-image: url("Sparrow.png");
}

body img{
    margin-top: 1000px;
}


a{
    color:white;
    text-decoration:wavy;
}
li{
    list-style-type: none;
}
